nav {
    background: linear-gradient(90deg, #0056b3, #007bff); /* Degradado azul oscuro a azul claro */
    color: white;
    display: flex;
    flex-direction: column;
    width: 180px; /* Ancho del menú */
    padding: 20px 0; /* Espacio interno */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Menú fijo */
    height: 100vh; /* Ocupa toda la altura */
    overflow-y: auto; /* Permite desplazamiento si es necesario */
}

nav .logo {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: #95e1d3; /* Verde menta */
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    margin: 10px 0; /* Margen entre los enlaces */
}

nav a:hover {
    color: #fff;
    background-color: #007bff;
}


